<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
<div>
  <label>Buscar por id:
    <input  [(ngModel)]="idProducto" placeholder="">
  </label>
  
  <button mat-raised-button  color="warn" (click)=verProduct()>Consultar</button><button mat-raised-button color="primary" (click)=llenarLista()>Ver Todos</button>
</div>
<button mat-button color="primary">Primary</button>
</div>

<br>

<table mat-table [dataSource]="productosL" class="mat-elevation-z8">
 
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Nombre Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Precio Column -->
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <table class="table">
  <thead>
     <tr>
         <th>id</th>
         <th>nombre</th>
         <th>precio</th>
        
      </tr>
  </thead>
 
  <tbody>
    <tr *ngFor="let producto of productosL">
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.precio }}</td>
    </tr>
  </tbody>
  
</table> -->